

h1{
    color: red;
}

a{
    text-decoration: none;
}

#homeDiv{
    border: 1px solid #000;
    text-align: center;
    padding: 50px;
    margin: auto;

}

#homeDiv button{
    background-color: #4661d8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    
}

#homeDiv button:hover{
    border-radius: 0.5em;
}

#Login , #Register{
    /* display: inline; */
    text-align: center;
    padding: 16px;
}

label{
    color: black;
    font-weight: bold;
    font-size: large;
    padding: 10px;
    display: block;
    
}
form{
    border: 3px solid #f1f1f1;
    padding: 8px;
    
}

input[type=email], input[type=password], input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

 input[type=submit]{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}