<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>{% block title%}  {% endblock %}</title>
</head>
<body>
    {% block body %}

    {% endblock %}

    {% for message in get_flashed_messages() %}
    <div id="message">{{ message }}</div>
     <br>
    {% endfor %}
</body>
</html>