{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block body %}


    <div id="Register">
        <h2>welcome to Register</h2>
        <form action="" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" >
            <br>
            <label for="email">Email</label>
            <input type="email" name="email" required>
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <br>
            <input type="submit" value="submit" name='sumbit'>
        </form>
    </div>

{% endblock %}